INTERNAL_TOKEN=xxx
ENCRYPTION_KEY=xxx
ENCRYPTION_IV=xxx
MASTER_KEY=xxx

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=auth_db

PORT=3000

P_0=xxx
P_99=xxx
P_104=xxx
P_129=xxx
P_130=xxx
P_131=xxx
P_88=xxxs