INTERNAL_TOKEN=xxx
ENCRYPTION_KEY=xxx
ENCRYPTION_IV=xxx
MASTER_KEY=xxx

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=auth_db

PORT=3000

P_0=v/6sKVUBvtTRNn7j9JWiAg==
P_99=t9xkj+tJuvv7A3QMZnRcjA==
P_104=Sd077l4WKsh0QR40XPgBhw==
P_129=a00cErB1L/pFz74PPZdcDA==
P_130=v2cXDSL+I3HRfJPHxVqKIw==
P_131=KrDb3Tv/IvL0ixxbV/1pCA==
P_88=e3L47h5qrIohuYQYxIyKwA==